@model IEnumerable<HRWells.Models.Horse>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Table of Horses</h2>
<p>Last updated @DateTime.Now</p>
@if (Model.Count() > 0)
{
    <table width="100%">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Number</th>
            <th>Breed</th>
            <th>Weight</th>
            <th>Owner</th>
        </tr>
        @foreach (var horse in Model)
        {
            <tr>
                <td>@Html.ActionLink(horse.Name, "single", new { horse.ID }, null)</td>
                <td>@horse.Age.ToString() Years</td>
                <td># @horse.Number</td>
                <td>@Html.ActionLink(horse.Breed.Name,
                            "HorsesByAttrib",
                            "Horse",new
                            {
                                attrib = "breed",
                                value = horse.Breed.Name
                            },null)</td>
                
                <td>@horse.Weight kg</td>
                <td>@horse.Owner</td>
            </tr>
        }
    </table>

}
else
{
    <p>No horses in the database</p>
    <button>Add Horse</button>
}