@model HRWells.Models.Horse
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>

            <div class="modal-body">
                <p>You are about to delete one track, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

<h2>@Model.Name</h2>
<table width="100%" class="table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tr>
        <td>@Html.LabelFor(m => m.Number)</td>
        <td>@Model.Number.ToString()</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Owner)</td>
        <td>@Model.Owner</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Weight)</td>
        <td>@Model.Weight.ToString()</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Breed)</td>
        <td>@Model.BreedTypeID</td>
    </tr>
</table>

<button class="btn btn-primary fa fa-backward" onclick="location.href='@Url.Action("Index", "Horse")';return false;"> Back To List</button>
<button class="btn btn-warning fa fa-edit" data-href="@Url.Action("Edit", "Horse", new { ID = Model.ID})"> Edit Record</button>
<button class="btn btn-danger fa fa-trash" data-href="@Url.Action("Delete", "Horse", new { ID = Model.ID})" data-toggle="modal" data-target="#confirm-delete"> Delete Record</button>


@section scripts{
<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>
}